<!doctype html>
<head>
    <meta charset="utf-8">
    <title>Balkan I/O se obnavlja</title>
    <style>
     body { text-align: center; padding: 150px; }
     h1 { font-size: 50px; }
     body { font: 20px Helvetica, sans-serif; color: #333; }
     article { display: block; text-align: left; width: 650px; margin: 0 auto; }
     a { color: #dc8100; text-decoration: none; }
     a:hover { color: #333; text-decoration: none; }
    </style>
</head>
<body>
    <article>
        <h1>Brzo smo nazad…</h1>
        <div>
            <p>Balkan I/O na žalost trenutno nije dostupan. Vjerojatno nešto nadograđujemo ili popravljamo, tako da stranica kasnije bude još bolja :)</p>
            <p>Dok čekate, zašto ne posjetite naš <a href="https://twitter.com/balkan_io">Twitter</a> ili <a href="https://www.facebook.com/balkantechforum">Facebook</a> i pogledate što smo sve tamo pisali zadnje vrijeme?</p>
            <p>&mdash; Balkan I/O administratori</p>
        </div>
    </article>
</body>
</html>
